*.sqlite3
*.pyc
*.bsp
__pycache__/
.DS_Store
*lock*
/nbproject/*
/nbproject/private/
/frontend/nbproject/private/
frontend/node_modules/*

/frontnew1/nbproject/*
/frontnew1/node_modules/*
/frontnew1/examples/*
/frontnew1/docs/*
