/* 
    Created on : Oct 16, 2019, 1:35:16 PM
    Author     : Bojan Seirovski
*/

.navbar-fixed-top {
    position: relative!important;
    float: top!important;
    top: 0;
    border-width: 0 0 1px;
}

#dash_app{
    margin-top: 120px!important;
}

.col-lg-6.text-center{
    margin-bottom: 15px;
}
.card .card-body {
    height: 350px!important;
}

/*  same width for all buttons */
.card.actions .card-body .btn{
    width: 120px!important;
    margin-bottom: 5px;
}

footer .row{
    padding-bottom: 7px!important;
    padding-top: 7px!important;
    color:#fff;
    background-color: #343a40!important;
    margin: 0!important;
}

.card{
    width: 539px!important;
}
/* Map canvas */
canvas#earth_map_img {
    position: absolute;
    background-repeat: no-repeat;
    background-image:url('/img/world.jpg'); 
    background-size: contain;
    
    left: 0;
    top: 75px;
    width: 537px!important;
    height: auto!important;
}

#earth_map_top_bar{
    position: absolute;
    top: 50px;
    left: 5px;
    width: 100%;
    z-index: 10000;
}
#earth_map_top_bar span{
    width: 30%!important;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 10pt;
}
#earth_map_bottom_bar{
    position: absolute;
    bottom: 0;
    left: 5px;
    width: 100%;
}

#earth_map_bottom_bar span{
    width: 20%!important;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 11pt;
}
